#add-new-page {
    h1 {
        text-align: center;
    }
}

.disabled {
    background-color: #cccccc;
    color: #666666;
    border: 1px solid #aaaaaa;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}