[disabled] {
    background-color: var(--color-background-alt);
    color: var(--color-text-muted);
    border: 1px solid var(--color-border);
    opacity: 0.6;
    pointer-events: none;
}

.page-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-text-light);
}

/* Form Group */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* Adjusted gap for better spacing */
}

/* When the label comes before the input, textarea, or select */
label:has(+ input[required])::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after {
    content: " *";
    color: red;
}

/* When the input, textarea, or select comes before the label */
input[required]+label::after,
textarea[required]+label::after,
select[required]+label::after {
    content: " *";
    color: red;
}

/* Button loading spinner */
.btn-loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s linear infinite;
}

/* Disclaimer text styling */
.disclaimer {
    font-size: 0.9rem;
    color: var(--color-text-muted);
    margin-top: 10px;
    text-align: center;
}

/* Spinner animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Adjustments for form input focus and invalid styles */
input:focus,
select:focus,
textarea:focus {
    border-color: var(--color-secondary);
    outline: none;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: var(--color-error);
}

select:invalid:focus,
textarea:invalid:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-error);
}

input:invalid:focus~span {
    background-color: var(--color-error) !important;
}

input:invalid:focus+label {
    color: var(--color-error) !important;
}