[disabled] {
    background-color: var(--color-background-alt);
    color: var(--color-text-muted);
    border: 1px solid var(--color-border);
    opacity: 0.6;
    pointer-events: none;
}

.page-title {
    text-align: center;
}

/* Form Group */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label:has(+ input[required])::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after {
    content: " *";
    color: red;
}

.btn-loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #007bff;
    /* Adjust color as needed */
    animation: spin 1s linear infinite;
}

.disclaimer {
    font-size: 0.9rem;
    color: var(--color-text-muted);
    margin-top: 10px;
    /* Space between anything and disclaimer */
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}