/* TODO: Remove reduntant style attributes (see globals.css) */

/* Page container with Flexbox */
.page-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
}

/* Sidebar Layout */
.sidebar {
    background-color: var(--color-background-alt);
    position: fixed;
    left: 0;
    top: 0;
    height: 95%;
    width: 150px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;

    /* Sidebar Top */
    .sidebar-top {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 25%;
        padding: 10px;
    }

    /* Sidebar Toggle Button */
    .sidebar-toggle-btn {
        background: none;
        /* No additional styling */
        border: none;
        padding: 0;
        /* Remove any padding */
        cursor: pointer;
        display: flex;
        /* Ensure it's a flex container for the image */
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        /* Space between button and logo */
    }

    .top-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.3rem;
        width: 100%;
        text-decoration: none;
        font-size: 16px;
        transition: opacity 0.3s ease;
    }

    .top-text {
        text-align: center;
    }

    .top-icon {
        width: 50%;
        height: auto;
    }

    .sidebar-toggle-btn img {
        width: 24px;
        /* Set the image size */
        height: auto;
        /* Maintain aspect ratio */
    }

    /* Middle Section: Navigation */
    .sidebar-middle {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 5% 0;
        width: 100%;
    }

    .sidebar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8% 5%;
        width: 90%;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 5%;
        transition: opacity 0.3s ease;
    }

    .nav-icon {
        width: 20%;
        height: auto;
        margin-right: 5%;
    }

    /* Bottom section: Trash and Settings */
    .sidebar-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 25%;
    }

    .bottom-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8% 5%;
        width: 90%;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .bottom-icon {
        width: 20%;
        height: auto;
        margin-right: 5%;
    }

    .top-item:hover,
    .nav-item:hover,
    .bottom-item:hover {
        border-radius: 5px;
    }

    /* Active item styling */
    .item-active {
        background-color: var(--color-background);
        border-radius: 5px;
        /* Rounded corners */
        transition: background-color 0.3s ease;
        /* Smooth transition for background */
        font-weight: 700;
    }

    /* Hover effect for active item */
    .item-active:hover {
        cursor: pointer;
        /* Indicate interactivity */
    }

    /* Sidebar when closed */
    &.sidebar-closed {
        width: 80px;

        .top-item,
        .nav-item,
        .bottom-item {
            justify-content: center;
        }

        .top-text,
        .nav-text,
        .bottom-text {
            display: none;
        }

        .top-icon,
        .nav-icon,
        .bottom-icon {
            display: block;
            margin-right: unset;
            width: 50%;
            /* Adjust icon size */
        }

        .item-active {
            background-color: var(--color-primary);
        }
    }
}

/* Main Content */
#main-content {
    margin-left: 150px;
    padding: 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

/* Footer */
footer {
    text-align: center;
    padding: 1% 2%;
    position: absolute;
    /* Absolute positioning for footer */
    bottom: 0;
    /* Stick it to the bottom */
    left: 0;
    width: 100%;
    height: 5%;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}