/* Page container with Flexbox */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sidebar and content container */
#content-wrapper {
    display: flex;
    flex-grow: 1;
}

/* Sidebar Layout */
.sidebar {
    z-index: 1;
    background-color: var(--color-background-alt);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    padding: 10px;
}

.sidebar-toggle-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-toggle-btn img {
    width: 24px;
    height: auto;
}

.top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.3rem;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.top-text {
    text-align: center;
}

.top-icon {
    width: 50%;
    height: auto;
}

.sidebar-middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 0;
    width: 100%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8% 5%;
    width: 90%;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5%;
    transition: opacity 0.3s ease;
}

.nav-icon {
    width: 20%;
    height: auto;
    margin-right: 5%;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.bottom-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8% 5%;
    width: 90%;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5%;
}

.bottom-icon {
    width: 20%;
    height: auto;
    margin-right: 5%;
}

.top-item:hover,
.nav-item:hover,
.bottom-item:hover {
    border-radius: 5px;
}

.item-active {
    background-color: var(--color-background);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 700;
}

.item-active:hover {
    cursor: pointer;
}

.sidebar-closed {
    width: 80px;
}

.sidebar-closed .top-item,
.sidebar-closed .nav-item,
.sidebar-closed .bottom-item {
    justify-content: center;
}

.sidebar-closed .top-text,
.sidebar-closed .nav-text,
.sidebar-closed .bottom-text {
    display: none;
}

.sidebar-closed .top-icon,
.sidebar-closed .nav-icon,
.sidebar-closed .bottom-icon {
    display: block;
    margin-right: unset;
    width: 50%;
}

.sidebar-closed .item-active {
    background-color: var(--color-primary);
}

/* Main Content */
#main-content {
    margin-left: 150px;
    padding: 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

/* Footer */
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin-bottom: unset;
}